/*
========================================================================================
    PRISM Configuration File
========================================================================================
    Defines Slurm resource allocation, execution profiles, and pipeline metadata.
========================================================================================
*/

import org.yaml.snakeyaml.Yaml 

def yaml = new Yaml()
def config_file = new File("config.yaml")
def config_data = yaml.load(config_file.text)


process {
    executor = 'slurm'
    queue    = 'all' // Your cluster partition name

    withName: 'PREREQ_CDE' {
        cpus = 1
        memory = '8 GB'
    }

    withName: 'AUTOMODEL|AUTOMODEL_PRECALC' {
        cpus = config_data.MODELLER_CORES
        memory = '80 GB'
    }

    withName: 'RANK_AUTOMODEL' {
        cpus = 1
        memory = '8 GB'
    }

    withName: 'LOOP_MODEL' {
        cpus = config_data.MODELLER_CORES
        memory = '80 GB'
    }

    withName: 'FINAL_RANKING' {
        cpus = 1
        memory = '8 GB'
    }
}



