/*
========================================================================================
    PRISM Configuration File
========================================================================================
    Defines Slurm resource allocation, execution profiles, and pipeline metadata.
========================================================================================
*/

// --- Pipeline Metadata ---
manifest {
    name            = 'PRISM'
    author          = 'Richard Lopez-Corbalan'
    description     = 'Protected-Region Insertion Suite for Modeling'
    mainScript      = 'orchestrator.nf'
    nextflowVersion = '>=23.10.0'
    version         = '1.0.0'
}


// --- Pipeline Parameters (Defaults) ---
params {
    TARGET_EXECUTOR           = 'slurm'
    INPUT_DIR_NAME            = "input"
    MODELING_RESULTS_DIR_NAME = "modeling_results"

    MODELLER_CORES            = 10

    CUSTOM_RSRFILE_BASENAME   = "precomputed_rsr.rsr"
    CUSTOM_INIFILE_BASENAME   = "precomputed_ini.pdb"

    // Derived paths (internal use)
    CUSTOM_RSRFILE_PATH       = "${params.INPUT_DIR_NAME}/${params.CUSTOM_RSRFILE_BASENAME}"
    CUSTOM_INIFILE_PATH       = "${params.INPUT_DIR_NAME}/${params.CUSTOM_INIFILE_BASENAME}"
}

// --- Global Process Settings ---
process {
    executor      = params.TARGET_EXECUTOR
    queue         = 'all' // Cluster partition name (ignored if local)
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 3
    
    // Default fallback resources
    cpus   = 1
    memory = '4 GB'

    withName: 'PREREQ_CDE' {
        cpus   = 1
        memory = '8 GB'
    }

    withName: 'AUTOMODEL|PRECALC_AUTOMODEL' {
        cpus   = params.MODELLER_CORES
        memory = '80 GB'
    }

    withName: 'RANK_AUTOMODEL' {
        cpus   = 1
        memory = '8 GB'
    }

    withName: 'LOOP_MODEL' {
        cpus   = params.MODELLER_CORES
        memory = '80 GB'
    }

    withName: 'FINAL_RANKING' {
        cpus   = 1
        memory = '8 GB'
    }
}

// --- Diagnostics & Telemetry ---
timeline {
    enabled   = true
    overwrite = true
    file      = "modeling_results/logs/timeline.html"
}
report {
    enabled   = true
    overwrite = true
    file      = "modeling_results/logs/report.html"
}
trace {
    enabled   = true
    overwrite = true
    file      = "modeling_results/logs/trace.txt"
}
